/*레이아웃*/
#wrap {position:relative;min-height:100%;}
.header {width:280px;height:100%;position:absolute;left:0;top:0;bottom:0;}
#container {margin-left:280px;}

/*헤더 & GNB*/
.header {background-color:$color1;padding:20px;color:#fff;text-align:center;height:100%;
  .logo {
    a {display:inline-block;width:152px;height:47px;background:url(../images/logo.png) no-repeat center;transition:all 0.2s;
    }
   }
  #gnb {text-align:left;
    margin-top: 23px;  
    >.dep1 {
      border-top: 1px solid #268ad2;
      > li {
        border-bottom:1px solid #268ad2;
        > a {padding:6px 0;position:relative;
          i,span {vertical-align:middle;}
          i {display:inline-block;width:48px;height:48px;line-height:48px;border-radius:48px;text-align:center;
            img {vertical-align:middle;}
          }
          &.btn {
            &:before {width:9px;height:9px;position:absolute;right:13px;top:50%;transform:translateY(-50%);background:url(../images/gnb_open.png) no-repeat center;content:'';}
            }
        }        
        &.active {
          border:1px solid #fff;margin-bottom:10px;
          > a {background-color:$color2;
            &.btn {
              &:before {background-image: url(../images/gnb_close.png);
              }
            }
          }  
        }        
        &:not(.active):hover {border:1px solid #fff;border-top:0;box-shadow:0 -1px 0 0 #fff;
          >a {
            background-color: $color2;
          }
        }
      }
    }
    .dep2 {display:none;background-color:#fff;
    color:$color1;
      > li {display:flex;align-items:center;padding:12px 0;
        border-bottom:1px solid #3b92e5;
        &:last-of-type{border-bottom:0;}
        > a {flex:initial;width:104px;padding:0 15px 0 20px;color:$color1;font-weight: 500;}
        .dep3 {flex:auto;}
      }
    }
    .dep3 {color:#555555;
      > li {padding:3px 20px 3px 13px;position:relative;
        &:before {content:none;width:7px;height:10px;background:url(../images/gnb_point.png) no-repeat 50% 50%;position:absolute;left:0;top:50%;margin-top:-4px;}
        &.active,&:hover {
          &:before {content:'';}
          color: $color1;
          font-weight: 500;        
          > a {
            text-decoration: underline;
            text-underline-position: under;
          }
        }
      }     
    }
  }
  .btn_menu {position:absolute;right:-9px;top:33px; width:26px;height:26px;border-radius:26px;overflow:hidden;background:$color1 url(../images/menu_close.png) no-repeat center center;box-shadow:0 0 5px 0 rgba(0,0,0,0.2);}
  &.sm {padding:20px 0;
    .logo {
      a {margin-left:-10px;width:50px;height:47px;background-image:url(../images/logo_a.png);
      }
     }
    #gnb {text-align:center;
      >.dep1 {
        border-top:0;
        > li {
          border-bottom:0;
          > a { 
            span {display:none;} 
            &.btn {
              &:before {content:none;}
            }
          }
          &.active {
            border:0;margin-bottom:0;
            > a {background:none;
              i {background-color:$color2;}
              span {display:none;}
              &.btn {
                &:before {content:none;}
              }
            }  
          }        
          &:not(.active):hover {border:none;box-shadow:none;
            >a {background:none;
              i {background-color:$color2;}
              span {display:none;}
              background-color:none;
            }
          }
        }
      }
      .dep2 {display:none;background-color:#fff;
      color:$color1;
        > li {display:flex;align-items:center;padding:12px 0;
          border-bottom:1px solid #3b92e5;
          &:last-of-type{border-bottom:0;}
          > a {flex:initial;width:104px;padding:0 15px 0 20px;color:$color1;font-weight: 500;}
          .dep3 {flex:auto;}
        }
      }
      .dep3 {display:none;color:#555555;
        > li {padding:3px 20px 3px 13px;position:relative;
          &:before {content:none;width:7px;height:10px;background:url(../images/gnb_point.png) no-repeat 50% 50%;position:absolute;left:0;top:50%;margin-top:-4px;}
          &.active,&:hover {
            &:before {content:'';}
            color: $color1;
            font-weight: 500;        
            > a {
              text-decoration: underline;
              text-underline-position: under;
            }
          }
        }     
      }
    }
    .btn_menu {background-image:url(../images/menu_open.png);}
  }
}

/*컨테이너*/
#container {padding-left:50px;padding-right:50px;background-color:#fff;
  .title{@include clear;
    margin-bottom:50px;padding:25px 0 23px;border-bottom:1px solid #666;text-align:right;
    h2 {float:left;color:#222;font-size:30px;font-weight:500;
      span {margin-left:10px;
        &:before {display:inline-block;width:8px;height:8px;background-color:$color2;margin-right:10px;vertical-align:7px;content:'';}
      }
    }
    a {display:inline-block;width:42px;height:42px;border-radius:42px;background:#e2e2e2 url(../images/icon_mypage.png) no-repeat 50% 50%;overflow:hidden;text-indent:42px;white-space:nowrap;}
  }
}

/*버튼*/
.btn1 {min-width:81px;height:42px;line-height:40px;border:1px solid #bfbfbf;background-color:#fff;text-align:center;font-size:14px;border-radius:5px;padding:0 20px;width:auto;
  &.btn-sch {background-color:$color2;color:#fff;border-color:$color2;
    &:after {content:'';width:17px;height:17px;display:inline-block;vertical-align:-3px;margin-left:10px;background:url(../images/icon_sch_1.png) no-repeat 50% 50%;}
  }
}
/*팝업버튼*/
.btn2 {line-height:69px;font-size:20px;text-align:center;border:1px solid #dedede;border-radius:5px;background-color:#fff;padding:0 20px;
  &.blue {color:$color2;border-color:$color2;}
}
/*확인창 버튼*/
.btn3 {
  line-height:47px;border:1px solid #dedede;border-radius:2px;background-color:#fff;text-align:center;font-size:14px;min-width:101px;
  &.blue {color:#fff;background-color:$color2;border-color:$color2;}
}

/*추가&삭제 버튼*/
.btn_add {width:100%;height:42px;vertical-align:middle;background:url(../images/btn_add.png) no-repeat center;}
.btn_del {width:100%;height:42px;vertical-align:middle;background:url(../images/btn_del.png) no-repeat center;}

/*input*/
.inp-txt {width:100%;max-width:200px;border:1px solid #e8e8e8;padding:0 12px;line-height:40px;height:42px;background-color:#fff;border-radius:5px;color:#111;}

/*input wrap*/
.inp-set {display:flex;align-items:center;flex:none;
  label {
    ~ .btn1 {margin-left:5px;
      &.btn-sch {margin-left:3px;}
    } 
  } 
}

/*select*/
select {width: 100%;max-width:200px;border:1px solid #e8e8e8;padding:0 12px;line-height:40px;height:42px;background:#fff url(../images/arrow_select.png) no-repeat right 15px center;border-radius:5px;color:#111;}



/*checkbox & radio*/
input[type="checkbox"] {display:inline-block;width:19px;height:18px;cursor:pointer;background: url(../images/chk_off.png) no-repeat center;vertical-align:middle;
  + label {margin-left:5px;display:inline-block;cursor:pointer; vertical-align:middle;}
  &:checked {background-image:url(../images/chk_on.png);}
}

/*테이블*/
.table {margin:10px 0;text-align:center;word-break:break-all;
  &.ta_c,.ta_c {text-align:center;}
  &.fx-hd {position:relative;
    .scr-y {overflow-x:hidden;overflow-y:scroll;}
    .clone-tb {position:absolute;left:0;top:0;width:100%;z-index:1;
      > tbody,tfoot{display:none;}
    }
  }
  &.board {// 게시물형태 테이블
    th,td {border:0;border-bottom:1px solid #e2e2e2;
      &:first-child {border-left:0;}
      &:last-child {border-right:0;}
    }
    thead {
      th {
        &:after {content:'';height:15px;width:1px;vertical-align:middle;background-color:#e2e2e2;float:right;position:relative;left:9px;top:5px;}
        &:last-of-type{
          &:after {content:none;}
        }
      }
    }
  }
  .ta_r {text-align:right;}
  .ta_l {text-align:left;}
  table {background-color:#fff;border-top:2px solid $color1;font-size:15px;
    select {border:0;}
  }
  th,td {border:1px solid #e2e2e2;padding:0 4px;height:46px;vertical-align:middle;}
  thead {background-color:#fff;font-size:16px;
    th {height:53px;}
  }
}

/*페이징*/
.pagination {
  display:flex;justify-content:center;align-items:center;font-size:15px;margin-top:50px;text-align:center;
  a {display:block;width:40px;height:40px;line-height:40px;color:#636363;border-right:1px solid #e2e2e2;overflow:hidden;white-space:nowrap;
    &:last-of-type{border-right:0;}
    &.active {color:#fff;background-color:$color2;box-shadow:0 0 0 1px $color2;border-right:0;}
  }
  .page-wrap,.prev-wrap,.next-wrap {display:flex;border:1px solid #e2e2e2;}
  .prev-wrap {margin-right:3px;text-indent:40px;}
  .next-wrap {margin-left:3px;text-indent:40px;}
  .arrw-first,.arrw-last {background-color:#f4f4f4;}
  .arrw-first,.arrw-last,.arrw-prev,.arrw-next {background-repeat: no-repeat;background-position:center;}
  .arrw-first {background-image:url(../images/btn_arrw_first.png);}
  .arrw-last{background-image:url(../images/btn_arrw_last.png);}
  .arrw-prev{background-image:url(../images/btn_arrw_prev.png);}
  .arrw-next {background-image:url(../images/btn_arrw_next.png);}
}

/*검색 상자*/
.sch-box {padding:20px 40px 25px 20px;background-color:#f3f9ff;margin-bottom:30px;align-content:flex-end;
  display:flex;align-items:center;flex-wrap:wrap;
  .inp-set {margin-left:20px;margin-top:5px;white-space:nowrap;
    label {margin-right:16px;min-width:43px;}
    .inp-txt {width:200px;}
    .btn1 {flex:none;}
  }
  .btn-group {display:flex;margin-top:5px;margin-left:auto;
    .btn1 {margin-left:5px;}
  }
}



/*팝업*/
.pop-wrap {display:none;position:fixed;left:0;top:0;bottom:0;width:100%;height:100%;background-color:rgba(0,0,0,0.7);
  .pop-box {max-width:948px;width:100%;position:absolute;top:50%;left:50%;transform:translate(-50% ,-50%);max-height:90vh;
    > .pop-close {position:absolute;right:28px;top:28px;width:24px;height:24px;border-radius:24px;background:url(../images/btn_closepop.png) no-repeat 50% 50%;white-space:nowrap;text-indent:28px;overflow:hidden;}
  }
  .pop-head {padding:0 50px;font-size:20px;color:#fff;font-weight: 500;line-height:80px;background-color:$color2;}
  .pop-inner {padding:30px 50px 50px;max-height:calc(100% - 80px);overflow-x:hidden;overflow-y:auto;background-color:#fff;}
  .scr-y {max-height:284px;}
  .pop-inp {display:flex;flex-wrap:wrap;margin:0 -15px -10px;
    > li {width:calc(50% - 30px);margin:0 15px 10px;      
      .inp-set {
        label {flex:none;min-width:120px;width:14%;font-weight:500;padding-right:10px;}
        .inp-txt,select {max-width:290px;margin-left:auto;line-height:50px;height:52px;padding:0 20px;}
      }
      &.full {width:100%;
        .inp-txt,select {max-width:100%;}
      }
    }
  }
  .pop-btn {display:flex;flex-grow:auto;margin-top:30px;
    .btn2 {flex:1 1 0;
      ~.btn2 {margin-left:8px;}
    }
  }
  
}

/*확인창*/
.confirm-wrap {display:none;position:fixed;left:0;top:0;bottom:0;width:100%;height:100%;z-index:1;
  .confirm-box {font-size:0;
    position:absolute;left:50%;top: 50%;transform:translate(-50%, -50%);
    max-width:465px;width:90%;height:185px;border:5px solid $color2;background-color:#fff;text-align:center;padding:45px 30px 33px;
    strong {display:block;margin-bottom:28px;font-size:16px;}
    .btn3 ~ .btn3 {margin-left:5px;}
  }
}


