/*레이아웃*/
#wrap {position:relative;min-height:100%;min-width:1900px;}
.header {width:280px;height:100%;position:absolute;left:0;top:0;bottom:0;}
#container {margin-left:280px;}

/*헤더 & GNB*/
.header {background-color:$color1;padding:20px;color:#fff;text-align:center;height:100%;
  .logo {
    a {display:inline-block;width:152px;height:47px;background:url(../images/logo.png) no-repeat center;transition:all 0.2s;
    }
   }
  #gnb {text-align:left;
    margin-top: 23px;  
    >.dep1 {
      border-top: 1px solid #268ad2;
      > li {
        border-bottom:1px solid #268ad2;
        > a {padding:6px 0;position:relative;
          i,span {vertical-align:middle;}
          i {display:inline-block;width:48px;height:48px;line-height:48px;border-radius:48px;text-align:center;
            img {vertical-align:middle;}
          }
          &.btn {
            &:before {width:9px;height:9px;position:absolute;right:13px;top:50%;transform:translateY(-50%);background:url(../images/gnb_open.png) no-repeat center;content:'';}
            }
        }        
        &.active {
          border:1px solid #fff;margin-bottom:10px;
          > a {background-color:$color2;
            &.btn {
              &:before {background-image: url(../images/gnb_close.png);
              }
            }
          }  
        }        
        &:not(.active):hover {border:1px solid #fff;border-top:0;box-shadow:0 -1px 0 0 #fff;
          >a {
            background-color: $color2;
          }
        }
      }
    }
    .dep2 {display:none;background-color:#fff;
    color:$color1;
      > li {display:flex;align-items:center;padding:12px 0;
        border-bottom:1px solid #3b92e5;
        &:last-of-type{border-bottom:0;}
        > a {flex:initial;width:104px;padding:0 15px 0 20px;color:$color1;font-weight: 500;}
        .dep3 {flex:auto;}
      }
    }
    .dep3 {color:#555555;
      > li {padding:3px 20px 3px 13px;position:relative;
        &:before {content:none;width:7px;height:10px;background:url(../images/gnb_point.png) no-repeat 50% 50%;position:absolute;left:0;top:50%;margin-top:-4px;}
        &.active,&:hover {
          &:before {content:'';}
          color: $color1;
          font-weight: 500;        
          > a {
            text-decoration: underline;
            text-underline-position: under;
          }
        }
      }     
    }
  }
  .btn_menu {position:absolute;right:-9px;top:33px; width:26px;height:26px;border-radius:26px;overflow:hidden;background:$color1 url(../images/menu_close.png) no-repeat center center;box-shadow:0 0 5px 0 rgba(0,0,0,0.2);}
  &.sm {padding:20px 0;
    .logo {
      a {margin-left:-10px;width:50px;height:47px;background-image:url(../images/logo_a.png);
      }
     }
    #gnb {text-align:center;
      >.dep1 {
        border-top:0;
        > li {
          border-bottom:0;
          > a { 
            span {display:none;} 
            &.btn {
              &:before {content:none;}
            }
          }
          &.active {
            border:0;margin-bottom:0;
            > a {background:none;
              i {background-color:$color2;}
              span {display:none;}
              &.btn {
                &:before {content:none;}
              }
            }  
          }        
          &:not(.active):hover {border:none;box-shadow:none;
            >a {background:none;
              i {background-color:$color2;}
              span {display:none;}
              background-color:none;
            }
          }
        }
      }
      .dep2 {display:none;background-color:#fff;
      color:$color1;
        > li {display:flex;align-items:center;padding:12px 0;
          border-bottom:1px solid #3b92e5;
          &:last-of-type{border-bottom:0;}
          > a {flex:initial;width:104px;padding:0 15px 0 20px;color:$color1;font-weight: 500;}
          .dep3 {flex:auto;}
        }
      }
      .dep3 {display:none;color:#555555;
        > li {padding:3px 20px 3px 13px;position:relative;
          &:before {content:none;width:7px;height:10px;background:url(../images/gnb_point.png) no-repeat 50% 50%;position:absolute;left:0;top:50%;margin-top:-4px;}
          &.active,&:hover {
            &:before {content:'';}
            color: $color1;
            font-weight: 500;        
            > a {
              text-decoration: underline;
              text-underline-position: under;
            }
          }
        }     
      }
    }
    .btn_menu {background-image:url(../images/menu_open.png);}
  }
}

/*컨테이너*/
#container {padding-left:50px;padding-right:50px;background-color:#fff;
  .title{@include clear;
    margin-bottom:50px;padding:25px 0 23px;border-bottom:1px solid #666;text-align:right;
    h2 {float:left;color:#222;font-size:30px;font-weight:500;
      span {margin-left:10px;
        &:before {display:inline-block;width:8px;height:8px;background-color:$color2;margin-right:10px;vertical-align:7px;content:'';}
      }
    }
    a {display:inline-block;width:42px;height:42px;border-radius:42px;background:#e2e2e2 url(../images/icon_mypage.png) no-repeat 50% 50%;overflow:hidden;text-indent:42px;white-space:nowrap;transition:0.2s;
      &:hover,&.active {background-color:$color2;}
    }
  }
}

/*검색창 버튼*/
.btn1 {border:1px solid #bfbfbf;background-color:#fff;text-align:center;font-size:14px;border-radius:5px;padding:0 24px;width:auto;white-space:nowrap;
  &.btn-sch {background-color:$color2;color:#fff;border-color:$color2;
    &:after {content:'';width:17px;height:17px;display:inline-block;vertical-align:-3px;margin-left:10px;background:url(../images/icon_sch_1.png) no-repeat 50% 50%;}
  }
  &.blue {color:#fff;background-color:$color2;border-color:$color2;}
  &.blue2 {color:$color2;background-color:#fff;border-color:$color2;}
  &.black {color:#000;background-color:#fff;border:1px solid #000;}
}
/*팝업버튼*/
.btn2 {line-height:69px;font-size:20px;text-align:center;border:1px solid #dedede;border-radius:5px;background-color:#fff;padding:0 20px;
  &.blue {color:$color2;border-color:$color2;}
}

/*확인창 버튼*/
.btn3 {
  line-height:47px;border:1px solid #dedede;border-radius:2px;background-color:#fff;text-align:center;font-size:14px;min-width:101px;
  &.blue {color:#fff;background-color:$color2;border-color:$color2;}
}

/*추가&삭제 버튼*/
.btn_add {width:100%;height:42px;vertical-align:middle;background:url(../images/btn_add.png) no-repeat center;}
.btn_del {width:100%;height:42px;vertical-align:middle;background:url(../images/btn_del.png) no-repeat center;}

/*input*/
.inp {width:100%;max-width:200px;border:1px solid #e8e8e8;padding:0 12px;line-height:40px;height:42px;background-color:#fff;border-radius:5px;color:#111;

  /*달력*/
  &.date {max-width:152px;background:#fff url(../images/icon_inp_date.jpg) no-repeat right 15px center;margin-right:5px;
   ~ .date {margin-right:0;}
  }
  /*사용불가*/
  &:disabled {color:#000;background-color:#f8f8f8;}
  &::placeholder {color:rgba(0,0,0,0.4);}
  +.ref {display:block;text-align:right;font-size:14px;margin-top:17px;}
}


/*input wrap*/
.inp-set {display:flex;flex:none;align-items:center;
  label {
    &.rqd {
      &:before {content:'*';color:#da3539;font-size:16px;}
    }
    ~ .btn1,~.btn4 {margin-left:5px;align-self:stretch;
      // &.btn-sch {margin-left:3px;}
    } 
  }  
  &.email {
    .txt {width:25px;margin-left:5px;text-align:center;flex:none;}
    select {flex:none;width:180px;margin-left:5px;}
    .inp ~ .inp {margin-left:5px;}
    
  }
}

/*select*/
select {width: 100%;max-width:200px;border:1px solid #e8e8e8;padding:0 12px;line-height:40px;height:42px;background:#fff url(../images/arrow_select.png) no-repeat right 15px center;border-radius:5px;color:#111;
  &:disabled {color:rgba(0,0,0,0.4);}
}



/*checkbox & radio*/
input[type="checkbox"] {display:inline-block;width:19px;height:18px;cursor:pointer;background: url(../images/chk_off.png) no-repeat center;vertical-align:middle;
  + label {margin-left:5px;display:inline-block;cursor:pointer; vertical-align:middle;}
  &:checked {background-image:url(../images/chk_on.png);}
}

input[type="radio"] {display:inline-block;width:19px;height:18px;cursor:pointer;background: url(../images/chk_off.png) no-repeat center;vertical-align:middle;
  + label {margin-left:5px;display:inline-block;cursor:pointer; vertical-align:middle;}
  &:checked {background-image:url(../images/chk_on.png);}
  &.btn { height: 1px; width: 1px; overflow: hidden; clip: rect(1px 1px 1px 1px); clip: rect(1px, 1px, 1px, 1px); margin: -1px; position:absolute;left:0;right:0;
    + label {border:1px solid #b4cbea;height:42px;line-height:40px;background-color:#fff;text-align:center;font-size:14px;border-radius:5px;padding:0 20px;width:auto;margin:0;flex:1;margin-left:5px;
    }
    &:checked + label {border-color:#6977b8;box-shadow:inset 0 0 0 1px #6977b8;color:#48599e;
      &.type2 {
        background-color:#8590c8;color:#fff;border-color:#8590c8;
        box-shadow:none;
      }
    }
  }
}


/*테이블*/
.table-wrap {display:flex;
  .table {flex:1;}
}
.table {margin:10px 0;text-align:center;word-break:break-all;border-top:2px solid $color1;
  &.fx-hd {position:relative;border-bottom:1px solid #e2e2e2;
    .scr-y {overflow-x:hidden;overflow-y:scroll;
      tbody{
        tr:last-of-type {
          th,td {border-bottom:0;}
        }
      }
    }
    .clone-tb {position:absolute;left:0;top:0;width:100%;z-index:1;
      > tbody,tfoot{display:none;}
    }
  }
  &.board {// 게시물형태 테이블
    th,td {border:0;border-bottom:1px solid #e2e2e2;
      &:first-child {border-left:0;}
      &:last-child {border-right:0;}
    }
    thead {
      th {
        &:after {content:'';height:15px;width:1px;vertical-align:middle;background-color:#e2e2e2;float:right;position:relative;left:4px;top:5px;}
        &:last-of-type{
          &:after {content:none;}
        }
      }
    }
  }
  .ta-l {padding-left:15px;}
  table {background-color:#fff;font-size:15px;
    select {border:0;max-width:100%;}
  }
  th,td {border:1px solid #e2e2e2;padding:0 4px;height:46px;vertical-align:middle;}
  thead {background-color:#fff;font-size:16px;
    th {height:53px;border-top-color:transparent;}
  }
}

/*페이징*/
.pagination {
  display:flex;justify-content:center;align-items:center;font-size:15px;margin-top:50px;text-align:center;
  a {display:block;width:40px;height:40px;line-height:40px;color:#636363;border-right:1px solid #e2e2e2;overflow:hidden;white-space:nowrap;
    &:last-of-type{border-right:0;}
    &.active {color:#fff;background-color:$color2;box-shadow:0 0 0 1px $color2;border-right:0;}
  }
  .page-wrap,.prev-wrap,.next-wrap {display:flex;border:1px solid #e2e2e2;}
  .prev-wrap {margin-right:3px;text-indent:40px;}
  .next-wrap {margin-left:3px;text-indent:40px;}
  .arrw-first,.arrw-last {background-color:#f4f4f4;}
  .arrw-first,.arrw-last,.arrw-prev,.arrw-next {background-repeat: no-repeat;background-position:center;}
  .arrw-first {background-image:url(../images/btn_arrw_first.png);}
  .arrw-last{background-image:url(../images/btn_arrw_last.png);}
  .arrw-prev{background-image:url(../images/btn_arrw_prev.png);}
  .arrw-next {background-image:url(../images/btn_arrw_next.png);}
}

/*검색 상자*/
.sch-box {padding:20px 40px 25px 20px;background-color:#f3f9ff;margin-bottom:30px;
  display:flex;align-items:center;flex-wrap:wrap;
  .flex-col {display:flex;flex-direction:column;flex:1;width:70%;
    +.btn-group {max-width:230px;align-self:stretch;
      button {flex:1;padding:0;width:50%;font-size:17px;}
    }
  }  
  .flex-row {display:flex;flex:1;width:100%;align-items:center;
    .inp-set{
      &:first-child {flex:1;
        .inp {flex:1;max-width:none;}
      }
      .btn1 {flex:none;width:113px;
        &.blue2 {width:133px;}
      }
    }
  }
  .inp-set {margin-left:20px;margin-top:6px;white-space:nowrap;align-items:center;
    label:first-child {margin-right:16px;min-width:56px;}
    .inp {width:200px;}
    .btn1 {flex:none;}
  }
  .btn-group {display:flex;flex:none;margin-top:6px;margin-left:auto;width:349px;justify-content:flex-end;padding-left:5px;align-self:stretch;
    button {margin-left:5px;}
  }
}



/*팝업*/
.pop-wrap {display:none;position:fixed;left:0;top:0;bottom:0;width:100%;height:100%;background-color:rgba(0,0,0,0.7);z-index:10;
  .pop-box {max-width:948px;width:100%;position:absolute;top:50%;left:50%;transform:translate(-50% ,-50%);max-height:90vh;
    &.sm {max-width:600px;}
    &[data-pop]{display:none;max-width:665px;box-shadow:0 0 50px rgba(0,0,0,0.15);}
    > .pop-close {position:absolute;right:28px;top:28px;width:24px;height:24px;border-radius:24px;background:url(../images/btn_closepop.png) no-repeat 50% 50%;white-space:nowrap;text-indent:28px;overflow:hidden;}
    &.pop-login {max-width:860px;
      h2 {font-size:36px;text-align:center;color:#000;margin-bottom:35px;}
      .pop-inner {padding:60px 60px 60px;}     
      .inp-wrap {display:flex;justify-content:space-between;
        > div {display:flex;flex-direction: column;width:calc(50% - 15px);
          h3 {font-size:20px;line-height:130px;text-align:center;color:#fff;border-radius:0 0 10px 10px;
            &.blue1{background-color:$color1;}
            &.blue2{background-color:$color2;}
          }
          .inp-list {margin-bottom:45px;
            > li {margin-top:10px;}
          }
          .inp {max-width:100%;height:56px;border-radius:10px;border-color:#c8c8c8;}
          .btn2 {margin-top:auto;}
        }
        
      }
      > .pop-close {background-image:url(../images/btn_closepop2.png);}
    }
  }
  .pop-head {padding:0 50px;font-size:20px;color:#fff;font-weight: 500;line-height:80px;background-color:$color2;}
  .pop-inner {padding:30px 50px 50px;max-height:calc(100% - 80px);overflow-x:hidden;overflow-y:auto;background-color:#fff;}
  .sch-box {
    padding:20px 20px 20px 0;flex-wrap:nowrap;
    .inp-set {flex:1;
      .inp {max-width:none;width:100%;}
    }
  }
  .pop-inp {display:flex;flex-wrap:wrap;margin:0 -15px -10px;
    > li {width:calc(50% - 30px);margin:0 15px 10px;      
      .inp-set {
        label {flex:none;min-width:120px;width:14%;font-weight:500;padding-right:10px;}
        .inp,select {max-width:290px;line-height:50px;height:52px;padding:0 20px;}
      }      
      &.full {width:100%;
        .inp,select {max-width:100%;}
      }
    }
  }
  .table {
    .inp {height:37px;line-height:35px;text-align:center;}
    select {padding:0 2px;background-position:right 2px center;}
  }
  /*마이페이지 팝업*/
  .pop-inp2 {margin:0 -10px -10px;
    > li {width:calc(50% - 20px);margin:0 10px 10px;  
      &.br {margin-right:20px;}  
      .inp-set {
        label {min-width:150px;width:10%;padding-left:35px;background:url(../images/bullet_mypage.png) no-repeat left center;}
        &.email {
          .inp {max-width:290px;}
          > span {flex:none;width:30px;text-align:center;
            ~select,~.inp {flex:none;width:197px;}
            ~.inp {margin-left:5px;}
          }
        }        
      }
      .inp,select {max-width:260px;}
    }
  }
  .pop-btn {display:flex;flex-grow:auto;margin-top:30px;
    .btn2 {flex:1 1 0;
      ~.btn2 {margin-left:8px;}
    }
  }
  
}
 
/*확인창*/
.confirm-wrap {display:none;position:fixed;left:0;top:0;bottom:0;width:100%;height:100%;z-index:11;
  .confirm-box {font-size:0;
    position:absolute;left:50%;top: 50%;transform:translate(-50%, -50%);
    max-width:465px;width:90%;min-height:185px;border:5px solid $color2;background-color:#fff;text-align:center;padding:45px 30px 33px;
    strong {display:block;margin-bottom:28px;font-size:16px;}
    .btn3 ~ .btn3 {margin-left:5px;}
  }
}

/*로그인 GmarketSans*/

#login {padding-top:106px;padding-bottom:30px;position:relative;min-height:100vh;background-color:$color1;
  &:before {content:'';position:absolute;left:0;top:330px;width:100%;height:calc(100% - 330px);background:#fff url(../images/bg_login.png) no-repeat center 64px;}
  .logo {position:absolute;left:150px;top:30px;}
  .login-box {position:relative;z-index:1;max-width:614px;margin:auto;
    h1 {border:2px solid #fff;border-radius:16px 16px 0 0;border-bottom:0;height:224px;font-family: 'GmarketSans',sans-serif;padding:53px 0 0 80px;
      color:#fff;position:relative;
      span {font-weight:400;font-size:36px;color:#1b53a0;display:block;margin-bottom:5px;}
      b {white-space:nowrap;font-weight:600;font-size:65px;vertical-align:middle;}
      img {vertical-align:middle;display:inline-block;margin-top:-12px;margin-left:23px;}
      &:before {content:'';width:589px;height:91px;background:url(../images/bg_login_left.png) no-repeat left top;position:absolute;left:-19px;bottom:-6px;transform:translateX(-100%);}
      &:after {content:'';width:535px;height:67px;background:url(../images/bg_login_right.png) no-repeat right top;position:absolute;right:-31px;bottom:0;transform:translateX(100%);}
    }
    > div {text-align:center;background-color:#fff;border:2px solid #e2e2e2;border-radius:0 0 16px 16px;border-top:0;padding:40px 80px 35px;
      .inp {margin-bottom:10px;height:65px;line-height:65px;padding:0 69px;background-color:#f8f8f8;font-size:20px;background-repeat:no-repeat;background-position:30px center;
        &.code {background-image:url(../images/icon_login_code.png);}
        &.id {background-image:url(../images/icon_login_id.png);}
        &.pw {background-image:url(../images/icon_login_pw.png);}
        &::placeholder {color:rgba(0,0,0,0.2);}
      }
    }
    .inp-set {justify-content:center;margin-top:49px;
      input[type="checkbox"] {width:28px;height:27px;background-image:url(../images/chk2_off.png);margin-left:-10px;
       + label {font-size:20px;color:#000;margin-left:10px;}
      }
      input[type="checkbox"]:checked {background-image:url(../images/chk2_on.png);}
      
    }
    .btn_login {margin-top:30px;display:block;width:100%;line-height:80px;color:#fff;border-radius:80px;background-color:$color2;text-align:center;font-size:30px;}
    .btn-find {margin-top:35px;color:rgba(34,34,34,0.6);padding-left:25px;padding-bottom:2px;background:url(../images/icon_login_lock.png) no-repeat left center;}
  }
}


.ta-c {text-align:center;}
.ta-l {text-align:left;}
.ta-r {text-align:right;}



