
@media screen and (max-width:1902px){
  .monitor {
    .data.type2 {
      > div {width:100%;}
    }
  }
}

@media screen and (max-width:1700px){
  .monitor {
    .data {
      > div {width:33.3333%;}
    }
  }
}

@media screen and (max-width:1500px){
  .monitor {
    .data {margin-left:30px;
      > div {width:50%;}
    }
    .data.type2 {margin-left:30px;}
  }
  .sch-box{flex-direction: column;align-items:flex-start;
    .flex-row {flex:none;width:100%;
      .inp-set{flex:1;
        &:first-child {width:calc(100% - 20px);flex:none;}
        .inp.date {max-width:100%;width:100%;}
      }
    }
    .btn-group {width:calc(100% - 82px);margin-left:82px;}
    .inp-set {      
      .inp {width:100%;}    
    }
    .flex-col {width:100%;
      +.btn-group {width:100%;align-self:stretch;max-width:none;margin-left:0;
        button {flex:1;padding:0;width:50%;font-size:17px;}
      }
    }
  }
}
@media screen and (max-width:1350px){
  .group-list {display:flex;
    .dropdown {flex:1;
      > .btn {padding-right:32px;}
    }
  }
  .monitor {display:block;
    .status {width:100%;display:flex;
      > div {width:50%;
        &.air {margin-top:0;margin-left:10px;}
      }
    }
    .data {margin-left:0;margin-top:20px;
      > div {width:50%;}
      &.type2 {
        margin-left:0;
      }
    }
  }
}

@media screen and (max-width:1200px){
  .sch-box{
    .flex-row {
      .btn-group {width:calc(100% - 86px);margin-left:auto;padding-left:0;
      } 
    }
   
  }
}


@media screen and (max-width:1024px){
  body,html {font-size:14px;}
  .header {width:100%;height:70px;padding:0 20px;position:relative;text-align:left;
    .logo {
      a {width:112px;height:70px;line-height:70px;background-size:100% auto;}
    }
    #gnb {position:absolute;left:100%;top:0;bottom:0;width:100%;height:100vh;background-color:$color1;transition:all 0.5s;margin-top:0;padding:70px 20px 20px;z-index:2;overflow-x:hidden;overflow-y:auto;
      .mypage{display:block;position:absolute;left:20px;top:15px;background:#fff url(../images/icon_mypage_m.png) no-repeat center top 9px / auto 21px;width:42px;height:42px;border-radius:42px;overflow:hidden;text-indent:42px;}
      .dep2 {
        > li {
          > a {width:107px;}
        }
      }
      br {display:none;}
      .btn_mobile {display:block;position:absolute;right:0;top:0;width:67px;height:70px;background:url(../images/gnb_close_m.png) no-repeat center/22px auto;}
    }
    .btn_menu {right:0;top:0;width:67px;height:70px;background:url(../images/gnb_open_m.png) no-repeat center/27px auto;box-shadow:none;border-radius:0;transition:all 0.3s;
    &.active {
      .btn_menu {background-image:url(../images/gnb_close_m.png);background-size:22px auto;}
      }
    }
    &.active {
      #gnb {left:0;}
    }
  }
  .sch-box{margin:0 -20px 15px;padding:12px 20px 20px 0;
    .inp-set {margin-left:20px;margin-top:4px;
      label:first-child {min-width:69px;padding-left:10px;}
    }
    .btn-group {width:auto;
      button {min-height:32px;}
    }
    .flex-row {
      .btn-group {margin-top:4px;width:calc(100% - 105px);
        button {
          &:first-of-type{margin-left:0;}
        }
      }
      .inp-set {
        .btn1.blue2 {width:53px;}
      }
    }
    .flex-col {
      + .btn-group {max-width:none;flex-wrap:wrap;padding-left:20px;margin-top:10px;
        button {width:100%;flex:none;font-size:15px;height:46px;line-height:44px;
          + button {margin-top:8px;}
        }
      }
    }
  }

  #container {margin-left:0;padding-left:20px;padding-right:20px;
    .title {margin-bottom:0;padding:21px 0;border-bottom:0;
      h2 {font-size:18px;width:100%;
        span {margin-left:3px;
          &:before {content:'';width:6px;height:6px;margin-right:5px;vertical-align:4px;}
        }
      }
      a {display:none;}
    }
  }
  .table {margin:15px 0;overflow-x:auto;
    table {font-size:14px;
      thead{font-size:15px;}
      /*select*/
      select {padding:0 3px;background-position:right 3px center;
      }
    }
    &.fx-hd {
      .clone-tb {display:none;}
      .scr-y {overflow-x:auto;overflow-y:auto;max-height:none !important;}
      table {table-layout:auto;white-space:nowrap;}
    }
    &.board {
      table {min-width:auto;display:block;}
      colgroup{display:none;}
      thead {display:none;}
      tbody {display:block;width:100%;
        tr {display:block;width:100%;border-bottom:1px solid #e1e1e1;padding:9px 0 9px 45px;position:relative;
          td {display:block;width:100%;text-align:left;border:0;font-size:14px;height:auto;padding:3px 0;
            &.chk-cell {position:absolute;left:13px;top:50%;transform:translateY(-50%);width:auto;padding:0;}
          }
        }
      }
    }    
  }
  .contents {padding-bottom:45px;}
  /*검색창 버튼*/
  .btn1 {font-size:12px;border-radius:3px;padding:0 15px;min-width:60px;
    &.btn-sch {
      &:after {width:12px;height:12px;vertical-align:-3px;margin-left:8px;background-size:12px auto;}
    }
  }
  /*팝업버튼*/
  .btn2 {line-height:49px;font-size:18px;border:1px solid #dedede;border-radius:3px;padding:0 15px;}

  /*확인창 버튼*/
  .btn3 {
    line-height:47px;border:1px solid #dedede;border-radius:2px;background-color:#fff;text-align:center;font-size:14px;min-width:101px;
  }

  /*추가&삭제 버튼*/
  .btn_add {height:32px;vertical-align:middle;background:url(../images/btn_add.png) no-repeat center;}
  .btn_del {height:32px;vertical-align:middle;background:url(../images/btn_del.png) no-repeat center;}

  /*input*/
  .inp {width:100%;max-width:200px;border:1px solid #e8e8e8;padding:0 9px;line-height:30px;height:32px;border-radius:3px; 
    +.ref {display:block;text-align:right;font-size:12px;margin-top:12px;}
  }

  input[type="radio"].btn {
    &:first-of-type{
      + label {margin-left:0;}
    }
    + label {height:32px;line-height:30px;font-size:12px;}
  }


  /*input wrap*/
  .inp-set {display:flex;flex:none;align-items:center;
    label {
      &.rqd {
        &:before {content:'*';color:#da3539;font-size:14px;}
      }
    }  
  }

  /*select*/
  select {padding:0 9px;line-height:30px;height:32px;background-position:right 9px center;border-radius:3px;
  }

  /*페이징*/
  .pagination {
    &:not(.mobile)  {display:none;}
    &.mobile {display:flex;}
    margin-top:30px;font-size:12px;
    a {width:32px;height:32px;line-height:32px;}
    .arrw-first,.arrw-last,.arrw-prev,.arrw-next {background-size:auto 8px;}
  }


  /*팝업*/
  .pop-wrap{
    .pop-box {max-height:100vh;height:100vh;background-color:#fff;transform:translate(0);left:0;top:0;width:100%;max-width:none;padding-bottom:120px; padding-top:60px;
      &.sm {max-width:none;}
      &.type2 {
        max-width:none;padding-bottom:0;
        .pop-head {position:absolute;left:0;top:0;width:100%;line-height:60px;font-size:18px;padding:0 20px;z-index:1;
          span {vertical-align:1px;width:30px;height:30px;line-height:30px;}
        }
        .pop-inner {max-height:100%;padding:30px 20px;
          .pop-inp {
            > li {
              .inp-set {
                .inp,select {max-width:none;flex:1;}
              }
            }
          }
        }
        > .pop-close {right:20px;top:19px;}
      }
      .pop-head {position:absolute;left:0;top:0;width:100%;line-height:60px;font-size:18px;padding:0 20px;z-index:1;}
      .pop-inner {max-height:100%;height:100%;padding:25px 20px 20px;}
      > .pop-close {width:60px;height:60px;right:0;top:0;background: url(../images/gnb_close_m.png) no-repeat center/18px auto;text-indent:60px;overflow:hidden;z-index:2;}

      &.pop-login {
        max-width:100%;padding-bottom:0;padding-top:36px;
        h2 {font-size:20px;margin-bottom:21px;}
        .pop-inner {padding:0 25px;}
        .inp-wrap {        
          > div {
            h3 {font-size:15px;line-height:65px;border-radius:0 0 5px 5px;}
            .inp-list {margin-bottom:20px;
              > li {margin-top:5px;}
            }
            .inp {height:33px;border-radius:5px;}
            .btn2 {width:100%;font-size:15px;height:42px;line-height:38px;border-radius:5px;border-width:2px;font-weight:500;}
          }
        }
        > .pop-close {right:0;top:0;height:42px;width:52px;}
      }
      &[data-pop] {max-width:none;}
    }

    .pop-btn {position:absolute;left:0;bottom:0;width:100%;height:100px;margin:0;padding:15px 20px 0;
      .btn2 {height:51px;line-height:49px;font-size:18px;}
    }
    .pop-inp,.pop-inp2 {margin:-6px 0 0;
      > li {width:100%;margin:0;
        .inp-set {font-size:12px;flex-wrap:wrap;
          label {min-width:104px;width:auto;
           ~ *,~.inp {margin-left:auto; max-width:none;width:calc(100% - 104px);line-height:36px;height:34px;padding:0 9px;margin-top:6px;}
          }
          &.email {
            .inp {width:calc(100% - 104px);max-width:none;}
            > span {display:none;
              ~select,~.inp {width:calc(100% - 104px);margin-left:auto;}
            }
          }
        }
      }
    }
    .pop-inp2 {
      > li {
        &.br {margin-right:0;}
        .inp-set {
          label {padding-left:20px;background-size:14px;}
        }
      }
    }
    .inp {min-width:80px;}
     select {min-width:50px;}
  }
  
  /*로그인*/
  #login  {
    padding-top:0;padding-bottom:0;
    &:before {background-image:none;top:216px;width:100%;height:calc(100% - 216px);}
    .logo {left:20px;top:25px;width:114px;}
    .login-box {text-align:center;
      h1 {border:none;border-radius:0;height:216px;padding:83px 0 0;display:inline-block;text-align:left;
        span {font-size:22px;margin-bottom:2px;}
        b {font-size:39px;}
        img {margin-left:13px;width:147px;}
        &:before {background-image:url(../images/bg_login_m.png);width:360px;background-position:center top;height:43px;bottom:-4px;left:50%;transform:translateX(-50%);background-size:auto 43px;}
        &:after {content:none;}
      }
      > div {border:none;border-radius:0;padding:30px 0;max-width:320px;margin:auto;
        .inp {height:43px;line-height:43px;padding:0 45px;margin-bottom:8px;font-size:16px;background-position:17px center;background-size:17px auto;}
      }
      .inp-set {margin-top:29px;
        input[type="checkbox"] {width:17px;height:16px;background-size:17px auto;transform:translateY(-2px);
          + label {font-size:15px;margin-left:5px;}
        }
      }
      .btn_login {margin-top:25px;line-height:60px;font-size:20px;}
      .btn-find {margin-top:30px;padding-left:18px;background-size:14px auto;font-size:12px;padding-bottom:0;}
    }
  }
  .update {display:none;}
  .group-list {
    padding:15px;margin:0 -20px 25px;flex-wrap:wrap;
    .dropdown {width:calc(50% - 5px);
      margin:2.5px;line-height: 30px;font-size:14px;
      &:last-of-type{width:calc(100% - 5px);flex:none;}
      > .btn {padding:0 25px 0 10px;background-size:9px auto;background-position:right 10px center;line-height:18px;padding-top:6px;padding-bottom:6px;}
      > ul {
        > li {
          label {padding:0 10px;line-height:30px;}
        }
      }
    }
  }

  .monitor {
    .status {
      > div {padding:26px;
        h3 {padding-left:24px;
          background-size:17px auto;font-size:17px;
        }
        &.device {
          > ul {
            > li {padding:0 25px;line-height:53px;font-size:14px;
              b {font-size:25px;}
            }
          }
        }
        &.air {
          h3 {padding-left:27px;background-size:21px auto;}
          > ul {
            > li {padding: 5px 10px 5px 18px; line-height:25px;
              span {line-height:25px;font-size:13px;
                b {font-size:13px;height:25px;margin-left:13px;width:44px;}
              }
              &:first-of-type{
                padding-left:17px;padding-right:9px;
                span {font-size:17px;
                  b {font-size:13px;}
                }
              }
            }
          }
          .level {margin-top:24px;
           > span {font-size:14px;margin-bottom:4px;}
           ol {
             > li {font-size:10px;line-height:30px;}
           }
          }
        }
      }
    }
    .data {
      > div {
        h3 {font-size:26px;line-height:92px;height:87px;padding-right:26px;padding-left:34px;
          button,span {width:35px;height:35px;border-radius:35px;background-size:35px auto;font-size:16px;line-height:35px;margin-top:25px;}
        }
        > div {
          height:310px;padding:165px 24px 0;
          img {top:102px;}
          .progress {
            .txt {font-size:28px;
              b {font-size:48px;}
            }
            .bar {
              height:12px;margin-top:14px;
            }
            .num {font-size:14px;}
          }
          .air-cleaner {padding:0 16px;margin-top:-110px;
            > li {line-height:60px;font-size:18px;}
          }
        }
      }
      &.type2 {
        > div {padding:11px 18px 18px;height:auto;border-width:1px;box-shadow:0 0 0 1px #d8d8d8;width:50%;height:361px;
          > h3 {line-height:23px;height:23px;margin-bottom:10px;font-size:13px;
            em {height:23px;width:48px;font-size:9px;border-radius:0 0 8px 8px;margin-right:7px;line-height:25px;}
            span {margin-right:-6px;width:18px;height:18px;font-size:9px;line-height:18px;margin-top:0;}
          }
          .progress-wrap  {
            padding:8px 16px 8px 18px;
            > li {margin-bottom:6px;
              h4 {left:auto;left:initial;right:19px;font-size:12px;background-size:14px auto;padding-left:19px;
                em {font-size:9px;
                  b {font-size:11px;margin-right:2px;}
                }
              }
              .bar {margin-top:0;height:9px;
                .line{background-size:auto 9px;}
              }
              .num {font-size:7px;}
            }
          }
        }
      }
    }
    .simple-data {
      margin-top:3px;
      > li {margin-top:3px;line-height:27px;padding-top:4px;width:calc(50% - 1.5px);padding-left:30px;padding-right:13px;font-size:12px;
        img {left:20px;transform:translate(-50%,-50%) scale(0.6);transform-origin:50%;}
        span {line-height:25px;font-size:9px;
          b {font-size:12px;}
        }
        &.air-cleaner {
          padding-left:13px;padding-right:9px;
          div {font-size:9px;}
          em {font-size:7px;line-height:16px;width:16px;height:16px;margin-left:1px;}
        }
      }
    }
  }
}


@media screen and (max-width:768px){
  .pop-wrap{
    .pop-box {
      &.pop-login {     
        .inp-wrap {
          display:block;
          > div {display:block;width:100%;margin-bottom:30px;padding:0 25px;          
            h3 {margin-left:-25px;margin-right:-25px;}
            .inp-list {margin-top:15px;}
            .btn2 {width:100%;}
          }
        }      
      }
    }
  }
  .table-wrap {display:block;}

  .monitor {
    .status {display:block;
      > div{width:100%;
        &.air {margin-left:0;margin-top:17px;width:100%;}
      }
    }
    .data {
      > div {width:100%;
        > div {
          img {transform:scale(1.18) translate(-50%,-50%);transform-origin:50% 50%;}
        }
      }
      &.type2 {
        > div {width:100%;height:auto;}
      }
    }
  }
}


