@charset "UTF-8";
/* Noto Sans */
@font-face { font-family: 'Noto Sans'; font-weight: 200; font-style: normal; src: url("../fonts/NotoSansKR-Light.eot"); src: local(※), url("../fonts/NotoSansKR-Light.eot#iefix") format("embedded-opentype"), url("../fonts/NotoSansKR-Light.woff") format("woff"), url("../fonts/NotoSansKR-Light.otf") format("opentype"); }

@font-face { font-family: 'Noto Sans'; font-weight: 300; font-style: normal; src: url("../fonts/NotoSansKR-DemiLight.eot"); src: local(※), url("../fonts/NotoSansKR-DemiLight.eot#iefix") format("embedded-opentype"), url("../fonts/NotoSansKR-DemiLight.woff") format("woff"), url("../fonts/NotoSansKR-DemiLight.otf") format("opentype"); }

@font-face { font-family: 'Noto Sans'; font-weight: 400; font-style: normal; src: url("../common/fonts/NotoSansKR-Regular.eot"); src: local(※), url("../fonts/NotoSansKR-Regular.eot#iefix") format("embedded-opentype"), url("../fonts/NotoSansKR-Regular.woff") format("woff"), url("../fonts/NotoSansKR-Regular.otf") format("opentype"); }

@font-face { font-family: 'Noto Sans'; font-weight: 500; font-style: normal; src: url("../fonts/NotoSansKR-Medium.eot"); src: local(※), url("../fonts/NotoSansKR-Medium.eot#iefix") format("embedded-opentype"), url("../fonts/NotoSansKR-Medium.woff") format("woff"), url("../fonts/NotoSansKR-Medium.otf") format("opentype"); }

@font-face { font-family: 'Noto Sans'; font-weight: 700; font-style: normal; src: url("../fonts/NotoSansKR-Bold.eot"); src: local(※), url("../fonts/NotoSansKR-Bold.eot#iefix") format("embedded-opentype"), url("../fonts/NotoSansKR-Bold.woff") format("woff"), url("../fonts/NotoSansKR-Bold.otf") format("opentype"); }

@font-face { font-family: 'GmarketSans'; src: url("../fonts/GmarketSansMedium.woff") format("woff"); font-weight: 400; font-style: normal; }

@font-face { font-family: 'GmarketSans'; src: url("../fonts/GmarketSansBold.woff") format("woff"); font-weight: 600; font-style: normal; }

/********* reset.css **********/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ul, ol, li, form, fieldset, legend, label, input, button, select, textarea, header, main, footer, section, article, aside, menu, nav, table, caption, tbody, tfoot, thead, tr, th, td, summary, figure, figcaption, hgroup { margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit; -webkit-box-sizing: border-box; box-sizing: border-box; }

html, body { width: 100%; height: 100%; }

body { font-size: 16px; line-height: 1.4; color: #000; letter-spacing: -0.05em; font-family: 'Noto Sans','sans-serif'; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }

h1, h2, h3, h4, h5, h6 { font-size: 1rem; font-weight: normal; }

ul, ol, li { list-style-type: none; }

ul:after, ol:after, dl:after { display: block; clear: both; content: ''; }

a { color: inherit; text-decoration: none; display: block; }

img { max-width: 100%; border: 0; vertical-align: top; }

p { max-height: 9999px; }

address { font-style: normal; }

button { margin: 0; padding: 0; -webkit-box-sizing: border-box; box-sizing: border-box; border: 0 none; background-color: transparent; font-family: inherit; font-size: inherit; cursor: pointer; -webkit-appearance: none; -moz-appearance: none; -ms-appearance: none; appearance: none; -webkit-box-sizing: border-box; box-sizing: border-box; cursor: pointer; }

.hide { height: 1px; width: 1px; overflow: hidden; clip: rect(1px 1px 1px 1px); clip: rect(1px, 1px, 1px, 1px); margin: -1px; position: absolute; left: 0; right: 0; }

table { display: table; width: 100%; border-collapse: collapse; border-spacing: 0; table-layout: fixed; }

select::-ms-expand { display: none; }

input::-ms-check { display: none; }

form { display: block; width: 100%; }

input, select, textarea { padding: 0 10px; -webkit-appearance: none; -moz-appearance: none; -ms-appearance: none; appearance: none; -webkit-box-sizing: border-box; box-sizing: border-box; width: 100%; display: block; border: 0; font-family: inherit; }

/*clear*/
/*요소중앙정렬*/
/*아이템 정렬*/
/*레이아웃*/
#wrap { position: relative; min-height: 100%; min-width: 1900px; }

.header { width: 280px; height: 100%; position: absolute; left: 0; top: 0; bottom: 0; }

#container { margin-left: 280px; }

.contents { padding-bottom: 50px; }

/*헤더 & GNB*/
.header { background-color: #0076ca; padding: 20px; color: #fff; text-align: center; height: 100%; }

.header .logo a { display: inline-block; width: 152px; height: 47px; background: url(../images/logo.png) no-repeat center; -webkit-transition: all 0.2s; transition: all 0.2s; }

.header #gnb { text-align: left; word-break: keep-all; margin-top: 23px; }

.header #gnb > .dep1 { border-top: 1px solid #268ad2; }

.header #gnb > .dep1 > li { border-bottom: 1px solid #268ad2; }

.header #gnb > .dep1 > li > a { padding: 6px 0; position: relative; }

.header #gnb > .dep1 > li > a i, .header #gnb > .dep1 > li > a span { vertical-align: middle; }

.header #gnb > .dep1 > li > a i { display: inline-block; width: 48px; height: 48px; line-height: 48px; border-radius: 48px; text-align: center; }

.header #gnb > .dep1 > li > a i img { vertical-align: middle; }

.header #gnb > .dep1 > li > a.btn:before { width: 9px; height: 9px; position: absolute; right: 13px; top: 50%; -webkit-transform: translateY(-50%); transform: translateY(-50%); background: url(../images/gnb_open.png) no-repeat center; content: ''; }

.header #gnb > .dep1 > li.active { border: 1px solid #fff; margin-bottom: 10px; }

.header #gnb > .dep1 > li.active > a { background-color: #1b53a0; }

.header #gnb > .dep1 > li.active > a.btn:before { background-image: url(../images/gnb_close.png); }

.header #gnb > .dep1 > li:not(.active):hover { border: 1px solid #fff; border-top: 0; -webkit-box-shadow: 0 -1px 0 0 #fff; box-shadow: 0 -1px 0 0 #fff; }

.header #gnb > .dep1 > li:not(.active):hover > a { background-color: #1b53a0; }

.header #gnb .dep2 { display: none; background-color: #fff; color: #0076ca; }

.header #gnb .dep2 > li { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; padding: 12px 0; border-bottom: 1px solid #3b92e5; }

.header #gnb .dep2 > li:last-of-type { border-bottom: 0; }

.header #gnb .dep2 > li > a { -webkit-box-flex: 0; -ms-flex: none; flex: none; width: 104px; padding: 0 10px 0 15px; color: #0076ca; font-weight: 500; }

.header #gnb .dep2 > li .dep3 { -webkit-box-flex: 1; -ms-flex: auto; flex: auto; }

.header #gnb .dep3 { color: #555555; }

.header #gnb .dep3 > li { padding: 3px 15px 3px 13px; position: relative; }

.header #gnb .dep3 > li:before { content: none; width: 7px; height: 10px; background: url(../images/gnb_point.png) no-repeat 50% 50%; position: absolute; left: 0; top: 50%; margin-top: -4px; }

.header #gnb .dep3 > li.active, .header #gnb .dep3 > li:hover { color: #0076ca; font-weight: 500; }

.header #gnb .dep3 > li.active:before, .header #gnb .dep3 > li:hover:before { content: ''; }

.header #gnb .dep3 > li.active > a, .header #gnb .dep3 > li:hover > a { text-decoration: underline; text-underline-position: under; }

.header .btn_menu { position: absolute; right: -9px; top: 33px; width: 26px; height: 26px; border-radius: 26px; overflow: hidden; background: #0076ca url(../images/menu_close.png) no-repeat center center; -webkit-box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2); box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2); }

.header.sm { padding: 20px 0; }

.header.sm .logo a { margin-left: -10px; width: 50px; height: 47px; background-image: url(../images/logo_a.png); }

.header.sm #gnb { text-align: center; }

.header.sm #gnb > .dep1 { border-top: 0; }

.header.sm #gnb > .dep1 > li { border-bottom: 0; }

.header.sm #gnb > .dep1 > li > a span { display: none; }

.header.sm #gnb > .dep1 > li > a.btn:before { content: none; }

.header.sm #gnb > .dep1 > li.active { border: 0; margin-bottom: 0; }

.header.sm #gnb > .dep1 > li.active > a { background: none; }

.header.sm #gnb > .dep1 > li.active > a i { background-color: #1b53a0; }

.header.sm #gnb > .dep1 > li.active > a span { display: none; }

.header.sm #gnb > .dep1 > li.active > a.btn:before { content: none; }

.header.sm #gnb > .dep1 > li:not(.active):hover { border: none; -webkit-box-shadow: none; box-shadow: none; }

.header.sm #gnb > .dep1 > li:not(.active):hover > a { background: none; background-color: none; }

.header.sm #gnb > .dep1 > li:not(.active):hover > a i { background-color: #1b53a0; }

.header.sm #gnb > .dep1 > li:not(.active):hover > a span { display: none; }

.header.sm #gnb .dep2 { display: none; background-color: #fff; color: #0076ca; }

.header.sm #gnb .dep2 > li { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; padding: 12px 0; border-bottom: 1px solid #3b92e5; }

.header.sm #gnb .dep2 > li:last-of-type { border-bottom: 0; }

.header.sm #gnb .dep2 > li > a { -webkit-box-flex: initial; -ms-flex: initial; flex: initial; width: 104px; padding: 0 15px 0 20px; color: #0076ca; font-weight: 500; }

.header.sm #gnb .dep2 > li .dep3 { -webkit-box-flex: 1; -ms-flex: auto; flex: auto; }

.header.sm #gnb .dep3 { display: none; color: #555555; }

.header.sm #gnb .dep3 > li { padding: 3px 20px 3px 13px; position: relative; }

.header.sm #gnb .dep3 > li:before { content: none; width: 7px; height: 10px; background: url(../images/gnb_point.png) no-repeat 50% 50%; position: absolute; left: 0; top: 50%; margin-top: -4px; }

.header.sm #gnb .dep3 > li.active, .header.sm #gnb .dep3 > li:hover { color: #0076ca; font-weight: 500; }

.header.sm #gnb .dep3 > li.active:before, .header.sm #gnb .dep3 > li:hover:before { content: ''; }

.header.sm #gnb .dep3 > li.active > a, .header.sm #gnb .dep3 > li:hover > a { text-decoration: underline; text-underline-position: under; }

.header.sm .btn_menu { background-image: url(../images/menu_open.png); }

/*컨테이너*/
#container { padding-left: 50px; padding-right: 50px; background-color: #fff; }

#container .title { margin-bottom: 50px; padding: 25px 0 23px; border-bottom: 1px solid #666; text-align: right; }

#container .title:after { content: ''; display: block; clear: both; }

#container .title h2 { float: left; color: #222; font-size: 30px; font-weight: 500; }

#container .title h2 span { margin-left: 10px; }

#container .title h2 span:before { display: inline-block; width: 8px; height: 8px; background-color: #1b53a0; margin-right: 10px; vertical-align: 7px; content: ''; }

#container .title a { display: inline-block; width: 42px; height: 42px; border-radius: 42px; background: #e2e2e2 url(../images/icon_mypage.png) no-repeat 50% 50%; overflow: hidden; text-indent: 42px; white-space: nowrap; -webkit-transition: 0.2s; transition: 0.2s; }

#container .title a:hover, #container .title a.active { background-color: #1b53a0; }

#container .title a.fullpage { background-image: url(../images/icon_fullpage.png); margin-right: 5px; }

/*검색창 버튼*/
.btn1 { border: 1px solid #bfbfbf; background-color: #fff; text-align: center; font-size: 14px; border-radius: 5px; padding: 0 24px; width: auto; white-space: nowrap; }

.btn1.btn-sch { background-color: #1b53a0; color: #fff; border-color: #1b53a0; }

.btn1.btn-sch:after { content: ''; width: 17px; height: 17px; display: inline-block; vertical-align: -3px; margin-left: 10px; background: url(../images/icon_sch_1.png) no-repeat 50% 50%; }

.btn1.blue { color: #fff; background-color: #1b53a0; border-color: #1b53a0; }

.btn1.blue2 { color: #1b53a0; background-color: #fff; border-color: #1b53a0; }

.btn1.black { color: #000; background-color: #fff; border: 1px solid #000; }

/*팝업버튼*/
.btn2 { line-height: 69px; font-size: 20px; text-align: center; border: 1px solid #dedede; border-radius: 5px; background-color: #fff; padding: 0 20px; }

.btn2.blue { color: #1b53a0; border-color: #1b53a0; }

/*확인창 버튼*/
.btn3 { line-height: 47px; border: 1px solid #dedede; border-radius: 2px; background-color: #fff; text-align: center; font-size: 14px; min-width: 101px; }

.btn3.blue { color: #fff; background-color: #1b53a0; border-color: #1b53a0; }

/*추가&삭제 버튼*/
.btn_add { width: 100%; height: 42px; vertical-align: middle; background: url(../images/btn_add.png) no-repeat center; }

.btn_del { width: 100%; height: 42px; vertical-align: middle; background: url(../images/btn_del.png) no-repeat center; }

/*input*/
.inp { width: 100%; max-width: 200px; border: 1px solid #e8e8e8; padding: 0 12px; line-height: 40px; height: 42px; background-color: #fff; border-radius: 5px; color: #111; /*달력*/ /*사용불가*/ }

.inp.date { max-width: 152px; background: #fff url(../images/icon_inp_date.jpg) no-repeat right 15px center; margin-right: 5px; }

.inp.date ~ .date { margin-right: 0; }

.inp:disabled { color: #000; background-color: #f8f8f8; }

.inp::-webkit-input-placeholder { color: rgba(0, 0, 0, 0.4); }

.inp:-ms-input-placeholder { color: rgba(0, 0, 0, 0.4); }

.inp::-ms-input-placeholder { color: rgba(0, 0, 0, 0.4); }

.inp::placeholder { color: rgba(0, 0, 0, 0.4); }

.inp + .ref { display: block; text-align: right; font-size: 14px; margin-top: 17px; }

/*input wrap*/
.inp-set { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-flex: 0; -ms-flex: none; flex: none; -webkit-box-align: center; -ms-flex-align: center; align-items: center; }

.inp-set label.rqd:before { content: '*'; color: #da3539; font-size: 16px; }

.inp-set label ~ .btn1, .inp-set label ~ .btn4 { margin-left: 5px; -ms-flex-item-align: stretch; -ms-grid-row-align: stretch; align-self: stretch; }

.inp-set.email .txt { width: 25px; margin-left: 5px; text-align: center; -webkit-box-flex: 0; -ms-flex: none; flex: none; }

.inp-set.email select { -webkit-box-flex: 0; -ms-flex: none; flex: none; width: 180px; margin-left: 5px; }

.inp-set.email .inp ~ .inp { margin-left: 5px; }

/*select*/
select { width: 100%; max-width: 200px; border: 1px solid #e8e8e8; padding: 0 12px; line-height: 40px; height: 42px; background: #fff url(../images/arrow_select.png) no-repeat right 15px center; border-radius: 5px; color: #111; }

select:disabled { color: rgba(0, 0, 0, 0.4); }

/*checkbox & radio*/
input[type="checkbox"] { display: inline-block; width: 19px; height: 18px; cursor: pointer; background: url(../images/chk_off.png) no-repeat center; vertical-align: middle; }

input[type="checkbox"] + label { margin-left: 5px; display: inline-block; cursor: pointer; vertical-align: middle; margin-top: -2px; }

input[type="checkbox"]:checked { background-image: url(../images/chk_on.png); }

input[type="radio"] { display: inline-block; width: 19px; height: 18px; cursor: pointer; background: url(../images/chk_off.png) no-repeat center; vertical-align: middle; }

input[type="radio"] + label { margin-left: 5px; display: inline-block; cursor: pointer; vertical-align: middle; }

input[type="radio"]:checked { background-image: url(../images/chk_on.png); }

input[type="radio"].btn { height: 1px; width: 1px; overflow: hidden; clip: rect(1px 1px 1px 1px); clip: rect(1px, 1px, 1px, 1px); margin: -1px; position: absolute; left: 0; right: 0; }

input[type="radio"].btn + label { border: 1px solid #b4cbea; height: 42px; line-height: 40px; background-color: #fff; text-align: center; font-size: 14px; border-radius: 5px; padding: 0 20px; width: auto; margin: 0; -webkit-box-flex: 1; -ms-flex: 1; flex: 1; margin-left: 5px; }

input[type="radio"].btn:checked + label { border-color: #6977b8; -webkit-box-shadow: inset 0 0 0 1px #6977b8; box-shadow: inset 0 0 0 1px #6977b8; color: #48599e; }

input[type="radio"].btn:checked + label.type2 { background-color: #8590c8; color: #fff; border-color: #8590c8; -webkit-box-shadow: none; box-shadow: none; }

.chk-list > li { float: left; margin-right: 15px; }

.chk-list > li:last-of-type { margin-right: 0; }

.chk-list.center { margin-bottom: 30px; text-align: center; }

.chk-list.center > li { display: inline-block; vertical-align: middle; float: none; }

/*테이블*/
.table-wrap { display: -webkit-box; display: -ms-flexbox; display: flex; }

.table-wrap .table { -webkit-box-flex: 1; -ms-flex: 1; flex: 1; }

.table { margin: 10px 0; text-align: center; word-break: break-all; border-top: 2px solid #0076ca; }

.table.fx-hd { position: relative; border-bottom: 1px solid #e2e2e2; }

.table.fx-hd .scr-y { overflow-x: hidden; overflow-y: scroll; }

.table.fx-hd .scr-y tbody tr:last-of-type th, .table.fx-hd .scr-y tbody tr:last-of-type td { border-bottom: 0; }

.table.fx-hd .clone-tb { position: absolute; left: 0; top: 0; width: 100%; z-index: 1; }

.table.fx-hd .clone-tb > tbody, .table.fx-hd .clone-tb tfoot { display: none; }

.table.board th, .table.board td { border: 0; border-bottom: 1px solid #e2e2e2; }

.table.board th:first-child, .table.board td:first-child { border-left: 0; }

.table.board th:last-child, .table.board td:last-child { border-right: 0; }

.table.board thead th:after { content: ''; height: 15px; width: 1px; vertical-align: middle; background-color: #e2e2e2; float: right; position: relative; left: 4px; top: 5px; }

.table.board thead th:last-of-type:after { content: none; }

.table .ta-l { padding-left: 15px; }

.table table { background-color: #fff; font-size: 15px; }

.table table select { border: 0; max-width: 100%; }

.table th, .table td { border: 1px solid #e2e2e2; padding: 0 4px; height: 46px; vertical-align: middle; }

.table thead { background-color: #fff; font-size: 16px; }

.table thead th { height: 53px; border-top-color: transparent; }

/*페이징*/
.pagination { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; -webkit-box-align: center; -ms-flex-align: center; align-items: center; font-size: 15px; margin-top: 50px; text-align: center; }

.pagination a { display: block; width: 40px; height: 40px; line-height: 40px; color: #636363; border-right: 1px solid #e2e2e2; overflow: hidden; white-space: nowrap; }

.pagination a:last-of-type { border-right: 0; }

.pagination a.active { color: #fff; background-color: #1b53a0; -webkit-box-shadow: 0 0 0 1px #1b53a0; box-shadow: 0 0 0 1px #1b53a0; border-right: 0; }

.pagination .page-wrap, .pagination .prev-wrap, .pagination .next-wrap { display: -webkit-box; display: -ms-flexbox; display: flex; border: 1px solid #e2e2e2; }

.pagination .prev-wrap { margin-right: 3px; text-indent: 40px; }

.pagination .next-wrap { margin-left: 3px; text-indent: 40px; }

.pagination .arrw-first, .pagination .arrw-last { background-color: #f4f4f4; }

.pagination .arrw-first, .pagination .arrw-last, .pagination .arrw-prev, .pagination .arrw-next { background-repeat: no-repeat; background-position: center; }

.pagination .arrw-first { background-image: url(../images/btn_arrw_first.png); }

.pagination .arrw-last { background-image: url(../images/btn_arrw_last.png); }

.pagination .arrw-prev { background-image: url(../images/btn_arrw_prev.png); }

.pagination .arrw-next { background-image: url(../images/btn_arrw_next.png); }

/*검색 상자*/
.sch-box { padding: 20px 40px 25px 20px; background-color: #f3f9ff; margin-bottom: 30px; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -ms-flex-wrap: wrap; flex-wrap: wrap; }

.sch-box .flex-col { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; -webkit-box-flex: 1; -ms-flex: 1; flex: 1; width: 70%; }

.sch-box .flex-col + .btn-group { max-width: 230px; -ms-flex-item-align: stretch; -ms-grid-row-align: stretch; align-self: stretch; }

.sch-box .flex-col + .btn-group button { -webkit-box-flex: 1; -ms-flex: 1; flex: 1; padding: 0; width: 50%; font-size: 17px; }

.sch-box .flex-row { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-flex: 1; -ms-flex: 1; flex: 1; width: 100%; -webkit-box-align: center; -ms-flex-align: center; align-items: center; }

.sch-box .flex-row .inp-set:first-child { -webkit-box-flex: 1; -ms-flex: 1; flex: 1; }

.sch-box .flex-row .inp-set:first-child .inp { -webkit-box-flex: 1; -ms-flex: 1; flex: 1; max-width: none; }

.sch-box .flex-row .inp-set .btn1 { -webkit-box-flex: 0; -ms-flex: none; flex: none; width: 113px; }

.sch-box .flex-row .inp-set .btn1.blue2 { width: 133px; }

.sch-box .inp-set { margin-left: 20px; margin-top: 6px; white-space: nowrap; -webkit-box-align: center; -ms-flex-align: center; align-items: center; }

.sch-box .inp-set label:first-child { margin-right: 16px; min-width: 56px; }

.sch-box .inp-set .inp { width: 200px; }

.sch-box .inp-set .btn1 { -webkit-box-flex: 0; -ms-flex: none; flex: none; }

.sch-box .btn-group { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-flex: 0; -ms-flex: none; flex: none; margin-top: 6px; margin-left: auto; width: 349px; -webkit-box-pack: end; -ms-flex-pack: end; justify-content: flex-end; padding-left: 5px; -ms-flex-item-align: stretch; align-self: stretch; }

.sch-box .btn-group button { margin-left: 5px; }

.radio-content > li { display: none; }

.radio-content > li.active { display: block; }

/*그래프 콘텐츠*/
.graph { display: -webkit-box; display: -ms-flexbox; display: flex; -ms-flex-wrap: wrap; flex-wrap: wrap; }

.graph .g-head { line-height: 60px; border-top: 2px solid #0076ca; border-bottom: 1px solid #e2e2e2; padding: 0 30px; margin-bottom: 20px; width: 100%; }

.graph .g-head:after { content: ''; display: block; clear: both; }

.graph .g-head .lt { float: left; }

.graph .g-head .lt span { margin-left: 50px; }

.graph .g-head .lt span em { display: inline-block; margin: 0 10px; height: 15px; width: 1px; background-color: #000; vertical-align: -2px; }

.graph .g-head .rt { float: right; }

.graph .g-head .rt .chk-list { float: left; }

.graph .g-head .rt .status { float: left; margin-left: 30px; padding-left: 28px; background: url(../images/icon_sensor.png) no-repeat left 22px; }

.graph .g-head .rt .status b { color: #0076ca; font-weight: 500; }

.graph > .chk-bar { -webkit-box-flex: 0; -ms-flex: none; flex: none; width: 280px; margin-top: 40px; }

.graph > .chk-bar h3 { background-color: #0076ca; text-align: center; color: #fff; line-height: 80px; font-size: 20px; }

.graph > .chk-bar > ul > li { border: 1px solid #c8c8ca; margin-top: 2px; line-height: 49px; padding-left: 50px; }

.graph .rt { -webkit-box-flex: 1; -ms-flex: 1; flex: 1; padding-right: 30px; padding-left: 30px; }

.graph .rt .chart + .ref { text-align: right; margin-top: 30px; }

.graph .rt .chart + .ref span { margin-left: 10px; }

.graph .rt .chart + .ref span:before { content: '*'; }

/*팝업*/
.pop-wrap { display: none; position: fixed; left: 0; top: 0; bottom: 0; width: 100%; height: 100%; background-color: rgba(0, 0, 0, 0.7); z-index: 10; /*마이페이지 팝업*/ }

.pop-wrap .pop-box { max-width: 948px; width: 100%; position: absolute; top: 50%; left: 50%; -webkit-transform: translate(-50%, -50%); transform: translate(-50%, -50%); max-height: 90vh; }

.pop-wrap .pop-box.sm { max-width: 600px; }

.pop-wrap .pop-box.type2 { max-width: 520px; }

.pop-wrap .pop-box.type2 .pop-head { line-height: 90px; background-color: #e1edf9; color: #1b53a0; font-size: 26px; font-weight: 600; }

.pop-wrap .pop-box.type2 .pop-head span { font-size: 14px; display: inline-block; width: 38px; height: 38px; line-height: 38px; border-radius: 38px; background-color: #da3539; color: #fff; text-align: center; vertical-align: 4px; margin-left: 10px; }

.pop-wrap .pop-box.type2 .pop-inner { max-height: calc(100% - 90px); padding: 30px 50px 40px; }

.pop-wrap .pop-box.type2 .pop-inner .pop-inp > li .inp-set { -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; }

.pop-wrap .pop-box.type2 .pop-inner .pop-inp > li .inp-set .inp, .pop-wrap .pop-box.type2 .pop-inner .pop-inp > li .inp-set select { max-width: 240px; border-color: #c8c8c8; }

.pop-wrap .pop-box.type2 > .pop-close { right: 31px; top: 34px; width: 22px; height: 22px; border-radius: 22px; background: url(../images/btn_closepop3.png) no-repeat 50% 50%; }

.pop-wrap .pop-box[data-pop] { display: none; max-width: 665px; -webkit-box-shadow: 0 0 50px rgba(0, 0, 0, 0.15); box-shadow: 0 0 50px rgba(0, 0, 0, 0.15); }

.pop-wrap .pop-box > .pop-close { position: absolute; right: 28px; top: 28px; width: 24px; height: 24px; border-radius: 24px; background: url(../images/btn_closepop.png) no-repeat 50% 50%; white-space: nowrap; text-indent: 28px; overflow: hidden; }

.pop-wrap .pop-box.pop-login { max-width: 860px; }

.pop-wrap .pop-box.pop-login h2 { font-size: 36px; text-align: center; color: #000; margin-bottom: 35px; }

.pop-wrap .pop-box.pop-login .pop-inner { padding: 60px 60px 60px; }

.pop-wrap .pop-box.pop-login .inp-wrap { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; }

.pop-wrap .pop-box.pop-login .inp-wrap > div { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; width: calc(50% - 15px); }

.pop-wrap .pop-box.pop-login .inp-wrap > div h3 { font-size: 20px; line-height: 130px; text-align: center; color: #fff; border-radius: 0 0 10px 10px; }

.pop-wrap .pop-box.pop-login .inp-wrap > div h3.blue1 { background-color: #0076ca; }

.pop-wrap .pop-box.pop-login .inp-wrap > div h3.blue2 { background-color: #1b53a0; }

.pop-wrap .pop-box.pop-login .inp-wrap > div .inp-list { margin-bottom: 45px; }

.pop-wrap .pop-box.pop-login .inp-wrap > div .inp-list > li { margin-top: 10px; }

.pop-wrap .pop-box.pop-login .inp-wrap > div .inp { max-width: 100%; height: 56px; border-radius: 10px; border-color: #c8c8c8; }

.pop-wrap .pop-box.pop-login .inp-wrap > div .btn2 { margin-top: auto; }

.pop-wrap .pop-box.pop-login > .pop-close { background-image: url(../images/btn_closepop2.png); }

.pop-wrap .pop-head { padding: 0 50px; font-size: 20px; color: #fff; font-weight: 500; line-height: 80px; background-color: #1b53a0; }

.pop-wrap .pop-inner { padding: 30px 50px 50px; max-height: calc(100% - 80px); overflow-x: hidden; overflow-y: auto; background-color: #fff; }

.pop-wrap .sch-box { padding: 20px 20px 20px 0; -ms-flex-wrap: nowrap; flex-wrap: nowrap; }

.pop-wrap .sch-box .inp-set { -webkit-box-flex: 1; -ms-flex: 1; flex: 1; }

.pop-wrap .sch-box .inp-set .inp { max-width: none; width: 100%; }

.pop-wrap .pop-inp { display: -webkit-box; display: -ms-flexbox; display: flex; -ms-flex-wrap: wrap; flex-wrap: wrap; margin: 0 -15px -10px; }

.pop-wrap .pop-inp > li { width: calc(50% - 30px); margin: 0 15px 10px; }

.pop-wrap .pop-inp > li .inp-set label { -webkit-box-flex: 0; -ms-flex: none; flex: none; min-width: 120px; width: 14%; font-weight: 500; padding-right: 10px; }

.pop-wrap .pop-inp > li .inp-set .inp, .pop-wrap .pop-inp > li .inp-set select { max-width: 290px; line-height: 50px; height: 52px; padding: 0 20px; }

.pop-wrap .pop-inp > li.full { width: 100%; }

.pop-wrap .pop-inp > li.full .inp, .pop-wrap .pop-inp > li.full select { max-width: 100%; }

.pop-wrap .table .inp { height: 37px; line-height: 35px; text-align: center; }

.pop-wrap .table select { padding: 0 2px; background-position: right 2px center; }

.pop-wrap .pop-inp2 { margin: 0 -10px -10px; }

.pop-wrap .pop-inp2 > li { width: calc(50% - 20px); margin: 0 10px 10px; }

.pop-wrap .pop-inp2 > li.br { margin-right: 20px; }

.pop-wrap .pop-inp2 > li .inp-set label { min-width: 150px; width: 10%; padding-left: 35px; background: url(../images/bullet_mypage.png) no-repeat left center; }

.pop-wrap .pop-inp2 > li .inp-set.email .inp { max-width: 290px; }

.pop-wrap .pop-inp2 > li .inp-set.email > span { -webkit-box-flex: 0; -ms-flex: none; flex: none; width: 30px; text-align: center; }

.pop-wrap .pop-inp2 > li .inp-set.email > span ~ select, .pop-wrap .pop-inp2 > li .inp-set.email > span ~ .inp { -webkit-box-flex: 0; -ms-flex: none; flex: none; width: 197px; }

.pop-wrap .pop-inp2 > li .inp-set.email > span ~ .inp { margin-left: 5px; }

.pop-wrap .pop-inp2 > li .inp, .pop-wrap .pop-inp2 > li select { max-width: 260px; }

.pop-wrap .pop-btn { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-flex: auto; -ms-flex-positive: auto; flex-grow: auto; margin-top: 30px; }

.pop-wrap .pop-btn .btn2 { -webkit-box-flex: 1; -ms-flex: 1 1 0px; flex: 1 1 0; }

.pop-wrap .pop-btn .btn2 ~ .btn2 { margin-left: 8px; }

/*확인창*/
.confirm-wrap { display: none; position: fixed; left: 0; top: 0; bottom: 0; width: 100%; height: 100%; z-index: 11; }

.confirm-wrap .confirm-box { font-size: 0; position: absolute; left: 50%; top: 50%; -webkit-transform: translate(-50%, -50%); transform: translate(-50%, -50%); max-width: 465px; width: 90%; min-height: 185px; border: 5px solid #1b53a0; background-color: #fff; text-align: center; padding: 45px 30px 33px; }

.confirm-wrap .confirm-box strong { display: block; margin-bottom: 28px; font-size: 16px; }

.confirm-wrap .confirm-box .btn3 ~ .btn3 { margin-left: 5px; }

/*로그인 GmarketSans*/
#login { padding-top: 106px; padding-bottom: 30px; position: relative; min-height: 100vh; background-color: #0076ca; }

#login:before { content: ''; position: absolute; left: 0; top: 330px; width: 100%; height: calc(100% - 330px); background: #fff url(../images/bg_login.png) no-repeat center 64px; }

#login .logo { position: absolute; left: 150px; top: 30px; }

#login .login-box { position: relative; z-index: 1; max-width: 614px; margin: auto; }

#login .login-box h1 { border: 2px solid #fff; border-radius: 16px 16px 0 0; border-bottom: 0; height: 224px; font-family: 'GmarketSans',sans-serif; padding: 53px 0 0 80px; color: #fff; position: relative; }

#login .login-box h1 span { font-weight: 400; font-size: 36px; color: #1b53a0; display: block; margin-bottom: 5px; }

#login .login-box h1 b { white-space: nowrap; font-weight: 600; font-size: 65px; vertical-align: middle; }

#login .login-box h1 img { vertical-align: middle; display: inline-block; margin-top: -12px; margin-left: 23px; }

#login .login-box h1:before { content: ''; width: 589px; height: 91px; background: url(../images/bg_login_left.png) no-repeat left top; position: absolute; left: -19px; bottom: -6px; -webkit-transform: translateX(-100%); transform: translateX(-100%); }

#login .login-box h1:after { content: ''; width: 535px; height: 67px; background: url(../images/bg_login_right.png) no-repeat right top; position: absolute; right: -31px; bottom: 0; -webkit-transform: translateX(100%); transform: translateX(100%); }

#login .login-box > div { text-align: center; background-color: #fff; border: 2px solid #e2e2e2; border-radius: 0 0 16px 16px; border-top: 0; padding: 40px 80px 35px; }

#login .login-box > div .inp { margin-bottom: 10px; height: 65px; line-height: 65px; padding: 0 69px; background-color: #f8f8f8; font-size: 20px; background-repeat: no-repeat; background-position: 30px center; max-width: 100%; }

#login .login-box > div .inp.code { background-image: url(../images/icon_login_code.png); }

#login .login-box > div .inp.id { background-image: url(../images/icon_login_id.png); }

#login .login-box > div .inp.pw { background-image: url(../images/icon_login_pw.png); }

#login .login-box > div .inp::-webkit-input-placeholder { color: rgba(0, 0, 0, 0.2); }

#login .login-box > div .inp:-ms-input-placeholder { color: rgba(0, 0, 0, 0.2); }

#login .login-box > div .inp::-ms-input-placeholder { color: rgba(0, 0, 0, 0.2); }

#login .login-box > div .inp::placeholder { color: rgba(0, 0, 0, 0.2); }

#login .login-box .inp-set { -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; margin-top: 49px; }

#login .login-box .inp-set input[type="checkbox"] { width: 28px; height: 27px; background-image: url(../images/chk2_off.png); margin-left: -10px; }

#login .login-box .inp-set input[type="checkbox"] + label { font-size: 20px; color: #000; margin-left: 10px; }

#login .login-box .inp-set input[type="checkbox"]:checked { background-image: url(../images/chk2_on.png); }

#login .login-box .btn_login { margin-top: 30px; display: block; width: 100%; line-height: 80px; color: #fff; border-radius: 80px; background-color: #1b53a0; text-align: center; font-size: 30px; }

#login .login-box .btn-find { margin-top: 35px; color: rgba(34, 34, 34, 0.6); padding-left: 25px; padding-bottom: 2px; background: url(../images/icon_login_lock.png) no-repeat left center; }

.update { text-align: right; margin-top: -50px; }

.update span { padding-left: 19px; background: url(../images/icon_watch.png) no-repeat left center; font-size: 14px; color: #0a355f; line-height: 50px; }

.group-list { background-color: #e1edf9; padding: 25px 30px; font-size: 0; margin-bottom: 30px; }

.group-list a { display: inline-block; margin-right: 5px; line-height: 40px; border-radius: 4px; border: 1px solid #e8e8e8; color: #111; padding: 0 55px 0 12px; background: #fff url(../images/btn_add.png) no-repeat right 15px center; margin-right: 5px; font-size: 16px; }

.monitor { display: -webkit-box; display: -ms-flexbox; display: flex; }

.monitor .status { -webkit-box-flex: 0; -ms-flex: none; flex: none; width: 380px; }

.monitor .status > div { border: 3px solid #0076ca; padding: 30px; }

.monitor .status > div h3 { padding-left: 27px; background: url(../images/icon_device.png) no-repeat left top 2px; font-size: 20px; font-family: "GmarketSans", sans-serif; margin-top: -0.2em; margin-bottom: 10px; }

.monitor .status > div.device > ul > li { margin-bottom: 2px; background-color: #1b53a0; color: #fff; padding: 0 30px; line-height: 62px; }

.monitor .status > div.device > ul > li b { font-size: 30px; font-weight: 600; float: right; }

.monitor .status > div.device > ul > li:last-of-type { margin-bottom: 0; }

.monitor .status > div.air { border-color: #1b53a0; margin-top: 20px; background-color: #f7fbfe; }

.monitor .status > div.air h3 { background-image: url(../images/icon_air.png); background-position: left top; padding-left: 30px; }

.monitor .status > div.air .chart { width: 100%; height: 140px; margin: 20px 0; }

.monitor .status > div.air > ul > li { border-bottom: 1px solid #ebeff3; line-height: 30px; padding: 5px 11px 5px 21px; font-weight: 500; color: #161718; }

.monitor .status > div.air > ul > li:after { content: ''; display: block; clear: both; }

.monitor .status > div.air > ul > li span { float: right; line-height: 30px; display: block; font-size: 15px; }

.monitor .status > div.air > ul > li span b { width: 52px; height: 30px; display: inline-block; vertical-align: top; margin-left: 20px; text-align: center; font-size: 15px; }

.monitor .status > div.air > ul > li:first-of-type { border: 1px solid #2359c4; padding-left: 20px; padding-right: 10px; background-color: #fff; color: #2359c4; }

.monitor .status > div.air > ul > li:first-of-type span { font-size: 20px; color: #161718; font-weight: 600; }

.monitor .status > div.air > ul > li:first-of-type span b { font-weight: 500; }

.monitor .status > div.air .level { margin-top: 30px; }

.monitor .status > div.air .level > span { font-size: 16px; font-family: "GmarketSans", sans-serif; display: block; margin-bottom: 5px; }

.monitor .status > div.air .level ol:after { content: ''; display: block; clear: both; }

.monitor .status > div.air .level ol > li { float: left; width: 25%; text-align: center; font-size: 12px; line-height: 35px; }

.monitor .data { -webkit-box-flex: 1; -ms-flex: 1; flex: 1; display: -webkit-box; display: -ms-flexbox; display: flex; -ms-flex-wrap: wrap; flex-wrap: wrap; -webkit-box-align: start; -ms-flex-align: start; align-items: flex-start; margin-left: 66px; -ms-flex-item-align: start; align-self: flex-start; padding: 1px; }

.monitor .data > div { width: 25%; border: 1px solid #d8d8d8; -webkit-box-shadow: 0 0 0 1px #d8d8d8; box-shadow: 0 0 0 1px #d8d8d8; }

.monitor .data > div > h3 { line-height: 72px; height: 73px; border-bottom: 1px solid #d8d8d8; font-size: 22px; font-weight: 800; color: #161718; padding-right: 20px; padding-left: 27px; }

.monitor .data > div > h3 button { width: 30px; height: 30px; border-radius: 30px; background: url(../images/icon_setting.png) no-repeat center; margin-left: 5px; vertical-align: -5px; }

.monitor .data > div > h3 span { float: right; display: block; text-align: center; color: #fff; width: 30px; height: 30px; border-radius: 30px; font-size: 14px; line-height: 30px; background-color: #161718; margin-top: 20px; }

.monitor .data > div > div { position: relative; border-top: 2px solid #f5f7f9; height: 263px; text-align: center; padding: 140px 20px 0; }

.monitor .data > div > div img { position: absolute; left: 50%; top: 80px; -webkit-transform: translate(-50%, -50%); transform: translate(-50%, -50%); }

.monitor .data > div > div .progress .txt { font-size: 24px; }

.monitor .data > div > div .progress .txt b { font-size: 40px; font-weight: 700; }

.monitor .data > div > div .progress .bar { width: 100%; background-color: #eef2f8; height: 10px; margin-top: 10px; position: relative; }

.monitor .data > div > div .progress .bar span { position: absolute; left: 0; top: 0; bottom: 0; width: 0; -webkit-transition: 1.5s ease-out; transition: 1.5s ease-out; }

.monitor .data > div > div .progress .num { position: relative; font-size: 12px; color: rgba(22, 23, 24, 0.4); }

.monitor .data > div > div .progress .num:after { content: ''; display: block; clear: both; }

.monitor .data > div > div .progress .num .min { float: left; }

.monitor .data > div > div .progress .num .max { float: right; }

.monitor .data > div > div .progress .num b { position: absolute; -webkit-transform: translateX(-50%); transform: translateX(-50%); }

.monitor .data > div > div .progress[data-level="1"] .txt, .monitor .data > div > div .progress[data-level="1"] .num b { color: #2359c4; }

.monitor .data > div > div .progress[data-level="1"] .bar { background-color: #eef2f8; }

.monitor .data > div > div .progress[data-level="1"] .bar span { background-color: #2359c4; }

.monitor .data > div > div .progress[data-level="2"] .txt, .monitor .data > div > div .progress[data-level="2"] .num b { color: #01b56e; }

.monitor .data > div > div .progress[data-level="2"] .bar { background-color: #e4f8f1; }

.monitor .data > div > div .progress[data-level="2"] .bar span { background-color: #01b56e; }

.monitor .data > div > div .progress[data-level="3"] .txt, .monitor .data > div > div .progress[data-level="3"] .num b { color: #ffb43e; }

.monitor .data > div > div .progress[data-level="3"] .bar { background-color: #fdf3ed; }

.monitor .data > div > div .progress[data-level="3"] .bar span { background-color: #ffb43e; }

.monitor .data > div > div .progress[data-level="4"] .txt, .monitor .data > div > div .progress[data-level="4"] .num b { color: #da3539; }

.monitor .data > div > div .progress[data-level="4"] .bar { background-color: #f8e7ea; }

.monitor .data > div > div .progress[data-level="4"] .bar span { background-color: #da3539; }

.monitor .data > div > div .air-cleaner { margin-top: -90px; padding: 0 14px; }

.monitor .data > div > div .air-cleaner > li { line-height: 50px; margin-bottom: 5px; border-radius: 5px; }

.monitor .data.type2 { margin-left: 62px; padding: 1.5px; }

.monitor .data.type2 > div { width: 50%; border: 1.5px solid #d8d8d8; padding: 20px 30px 30px; height: 615px; -webkit-box-shadow: 0 0 0 1.5px #d8d8d8; box-shadow: 0 0 0 1.5px #d8d8d8; }

.monitor .data.type2 > div > h3 { line-height: 40px; height: 40px; border-bottom: 0; padding-right: 20px; padding-left: 27px; padding: 0; margin-bottom: 17px; font-family: "GmarketSans", sans-serif; font-weight: 500; }

.monitor .data.type2 > div > h3 em { display: inline-block; height: 40px; width: 80px; text-align: center; vertical-align: top; font-size: 16px; border-radius: 0 0 15px 15px; font-weight: 400; margin-right: 10px; }

.monitor .data.type2 > div > h3 span { margin-right: -9px; margin-top: 5px; font-family: "Noto Sans", sans-serif; }

.monitor .data.type2 > div .progress-wrap { background-color: #f5f7f9; padding: 14px 28px 16px; }

.monitor .data.type2 > div .progress-wrap > li { margin-bottom: 15px; }

.monitor .data.type2 > div .progress-wrap > li:last-of-type { margin-bottom: 0; }

.monitor .data.type2 > div .progress-wrap > li h4 { padding-left: 31px; background-position: left center; padding-top: 0.2em; background-repeat: no-repeat; color: #000; font-size: 20px; font-family: "GmarketSans", sans-serif; }

.monitor .data.type2 > div .progress-wrap > li h4:after { content: ''; display: block; clear: both; }

.monitor .data.type2 > div .progress-wrap > li h4 em { display: block; float: right; font-family: "Noto Sans", sans-serif; font-size: 16px; }

.monitor .data.type2 > div .progress-wrap > li h4 em b { font-weight: 600; font-family: "GmarketSans", sans-serif; font-size: 20px; margin-right: 4px; }

.monitor .data.type2 > div .progress-wrap > li h4.pm10 { background-image: url(../images/icon_pm10_sm.png); }

.monitor .data.type2 > div .progress-wrap > li h4.pm25 { background-image: url(../images/icon_pm2.5_sm.png); }

.monitor .data.type2 > div .progress-wrap > li h4.co2 { background-image: url(../images/icon_co2_sm.png); }

.monitor .data.type2 > div .progress-wrap > li .bar { margin-top: 2px; position: relative; background-color: #e3e3e3; width: 100%; height: 15px; }

.monitor .data.type2 > div .progress-wrap > li .bar span { position: absolute; left: 0; top: 0; width: 0; height: 100%; bottom: 0; -webkit-transition: 1.5s ease-out; transition: 1.5s ease-out; }

.monitor .data.type2 > div .progress-wrap > li .bar .line { position: absolute; left: 0; top: 0; width: 100%; height: 100%; z-index: 1; bottom: 0; background: url(../images/line_progress.png) repeat-x left center; }

.monitor .data.type2 > div .progress-wrap > li .num { margin-top: 1px; position: relative; font-size: 12px; color: rgba(22, 23, 24, 0.4); }

.monitor .data.type2 > div .progress-wrap > li .num:after { content: ''; display: block; clear: both; }

.monitor .data.type2 > div .progress-wrap > li .num .min { float: left; }

.monitor .data.type2 > div .progress-wrap > li .num .max { float: right; }

.monitor .data.type2 > div .progress-wrap > li .num .u100 { position: absolute; -webkit-transform: translateX(-50%); transform: translateX(-50%); left: 20%; }

.monitor .data.type2 > div .progress-wrap > li .num .u300 { position: absolute; -webkit-transform: translateX(-50%); transform: translateX(-50%); left: 60%; }

.monitor .data.type2 > div .progress-wrap > li.lv-1 h4 span, .monitor .data.type2 > div .progress-wrap > li.lv-1 h4 em { color: #2359c4; }

.monitor .data.type2 > div .progress-wrap > li.lv-1 .bar span { background: #015eea; background: -webkit-gradient(linear, left top, right top, from(#015eea), to(#00c0fa)); background: linear-gradient(90deg, #015eea 0%, #00c0fa 100%); }

.monitor .data.type2 > div .progress-wrap > li.lv-2 h4 span, .monitor .data.type2 > div .progress-wrap > li.lv-2 h4 em { color: #01b56e; }

.monitor .data.type2 > div .progress-wrap > li.lv-2 .bar span { background: #027146; background: -webkit-gradient(linear, left top, right top, from(#027146), to(#72d7cc)); background: linear-gradient(90deg, #027146 0%, #72d7cc 100%); }

.monitor .data.type2 > div .progress-wrap > li.lv-3 h4 span, .monitor .data.type2 > div .progress-wrap > li.lv-3 h4 em { color: #ffb43e; }

.monitor .data.type2 > div .progress-wrap > li.lv-3 .bar span { background: #f28e26; background: -webkit-gradient(linear, left top, right top, from(#f28e26), to(#fde24f)); background: linear-gradient(90deg, #f28e26 0%, #fde24f 100%); }

.monitor .data.type2 > div .progress-wrap > li.lv-4 h4 span, .monitor .data.type2 > div .progress-wrap > li.lv-4 h4 em { color: #da3539; }

.monitor .data.type2 > div .progress-wrap > li.lv-4 .bar span { background: #d10c1b; background: -webkit-gradient(linear, left top, right top, from(#d10c1b), to(#e94a6c)); background: linear-gradient(90deg, #d10c1b 0%, #e94a6c 100%); }

.monitor .simple-data { display: -webkit-box; display: -ms-flexbox; display: flex; -ms-flex-wrap: wrap; flex-wrap: wrap; margin-top: 5px; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; }

.monitor .simple-data > li { margin-top: 5px; line-height: 47px; padding-top: 7px; background-color: #f5f7f9; width: calc(50% - 2.5px); padding-left: 58px; padding-right: 23px; position: relative; font-family: "GmarketSans", sans-serif; font-size: 20px; color: #000; }

.monitor .simple-data > li img { position: absolute; left: 40px; top: 50%; -webkit-transform: translate(-50%, -50%); transform: translate(-50%, -50%); margin-top: 2px; }

.monitor .simple-data > li span { font-family: "Noto Sans", sans-serif; float: right; font-size: 16px; line-height: 41px; }

.monitor .simple-data > li span b { font-family: "GmarketSans", sans-serif; font-weight: 600; font-size: 20px; margin-right: 3px; }

.monitor .simple-data > li.air-cleaner { margin-left: auto; padding-left: 30px; padding-right: 12px; font-size: 0; letter-spacing: -0.1em; text-align: right; }

.monitor .simple-data > li.air-cleaner div { float: left; font-size: 16px; }

.monitor .simple-data > li.air-cleaner em { font-size: 12px; text-align: center; width: 25px; height: 25px; margin-left: 2px; line-height: 25px; vertical-align: -2px; display: inline-block; border-radius: 25px; font-family: "Noto Sans", sans-serif; }

.monitor .simple-data > li.lv-1 span { color: #2359c4; }

.monitor .simple-data > li.lv-2 span { color: #01b56e; }

.monitor .simple-data > li.lv-3 span { color: #ffb43e; }

.monitor .simple-data > li.lv-4 span { color: #da3539; }

.ta-c { text-align: center; }

.ta-l { text-align: left; }

.ta-r { text-align: right; }

.level-1 { background-color: #2359c4; color: #fff; }

.level-2 { background-color: #01b56e; color: #fff; }

.level-3 { background-color: #ffb43e; color: #fff; }

.level-4 { background-color: #da3539; color: #fff; }
